body{
  margin: 0;
}

#main-container{
  display: flex;
}

.scene-container{
  /*screen size should be 1920x1080*/
  width: 100vw; 
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene{
  width: 1664px; /* 1920 - 128*2 */
  height: 824px; /* 1080 - 128*2 */
  border: 1px solid black;
  overflow: hidden;
}

.green{
  background-color: green;
  width: 100px;
  height: 100px;
}

.blue{
  background-color: blue;
  width: 100px;
  height: 100px;
}

.red{
  background-color: red;
  width: 100px;
  height: 100px;
}

.yellow{
  background-color: yellow;
  width: 100px;
  height: 100px;
}