body{
  margin: 0;
}

#app{
  display: flex;
  gap: 512px;
  padding: 24px;
}

.frame-container{
  width: 2048px;
  height: 1024px;
  border: 1px solid black;
  flex-shrink: 0;
}

.green{
  background-color: green;
  width: 100px;
  height: 100px;
}

.blue{
  background-color: blue;
  width: 100px;
  height: 100px;
}

.red{
  background-color: red;
  width: 100px;
  height: 100px;
}

.yellow{
  background-color: yellow;
  width: 100px;
  height: 100px;
}