@font-face {
  font-family: "B Barusan Lindu";
  src: url("/bBarusanLindu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  overflow-x: hidden;
  font-family: "Mori";
}

/************ INTRODUCTION ************/

#burn-canvas {
  z-index: 900;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background-color: transparent;
}

#start-button {
  z-index: 1000;
  position: absolute;
  top: 57%; /* Centre verticalement */
  left: 120px; /* Distance du bord gauche */
  transform: translateY(-50%); /* Corrige l’alignement vertical */

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "B Barusan Lindu", sans-serif;
  font-size: 144px;
  color: black;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  opacity: 1;
}

#start-button span {
  line-height: 1;
  margin: 2px 0;
}

#start-button:hover {
  color: #111111;
  transform: translateY(-50%) scale(1.05);
  transition: transform 0.3s, color 0.3s, opacity 1s;
}

/* === BACKGROUND BLUR ON HOVER === */
body.blur-active *:not(#start-button):not(#start-button *) {
  filter: blur(6px);
  transition: filter 0.3s ease;
}

.decrease-opacity {
  opacity: 0 !important;
}

/************ SCENES ************/

#main-container {
  display: flex;
}

.scene-container {
  /*screen size should be 1920x1080*/
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      129% 99% at 200% 85%,
      rgb(220, 200, 180) 20%,
      rgb(232, 219, 201) 90%
    ),
    url("https://assets.codepen.io/16327/noise-e82662fe.png"),
    url("https://assets.codepen.io/16327/noise-e82662fe.png"),
    url("https://assets.codepen.io/16327/noise-e82662fe.png");
  background-blend-mode: color-dodge;
}

.scene {
  width: 1920px;
  max-width: 80%;
  height: 1080px;
  max-height: 80%;
  border: 6px double black;
  overflow: hidden;
  position: relative;
}

.full-height{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.plan-1{
  z-index: 30;
}

.plan-2{
  z-index: 20;
}

.plan-3{
  z-index: 10;
}

.plan-0{
  z-index: 40;
}
.plan-2-scene-1{
  height: 30%;
  top: 20vh;
}
.plan-3-scene-1{
  height: 20%;
  top: 10vh;
}
.plan-4-scene-1{
  height: 10%;

}

.sun{
  position: absolute;
  width: 250vw;
  transform-origin: 0 100%;
  bottom: -220vh;
  left: 50%;
  transform: rotateZ(-20deg);
}

.hidden{
  display: none;
}

.full-screen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* test */

.red {
  width: 100px;
  height: 100px;
  background-color: red;
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.green {
  width: 100px;
  height: 100px;
  background-color: green;
}
